@{
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "post",
        UpdateTargetId = "QuestionBox",
        InsertionMode = InsertionMode.Replace
    };
}

<div class="box-header well" data-original-title="">
    <h2><i class="glyphicon glyphicon-question-sign"></i> Pertanyaan </h2>

    <div class="box-icon">
        <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
        <a href="#" class="btn btn-minimize btn-round btn-default">
            <i class="glyphicon glyphicon-chevron-up"></i>
        </a>
        <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
</div>
<div class="box-content" style="padding:40px;">
    <div id="Question">
        <p>Bagaimana kondisi ekonomi supermarket saat ini?</p>
        <div class="radio">
            <label><input type="radio" name="optradio">Baik</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio">Sedang</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio">Buruk</label>
        </div>
        <br />
        <br />
        <br />
    </div>
    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <div class="btn btn-primary btn-lg">
                @Ajax.ActionLink("Pertanyaan Selanjutnya", "Pertanyaan2", null, options, htmlAttributes: new { @class = "btn btn-primary" })
                <i class="glyphicon glyphicon-chevron-right glyphicon-white"></i>
            </div>
        </div>
    </div>
</div>