@{
    AjaxOptions optionsPost = new AjaxOptions
    {
        HttpMethod = "post",
        UpdateTargetId = "QuestionBox",
        InsertionMode = InsertionMode.Replace
    };
    AjaxOptions optionsGet = new AjaxOptions
    {
        HttpMethod = "get",
        UpdateTargetId = "QuestionBox",
        InsertionMode = InsertionMode.Replace
    };
}

<div class="box-header well" data-original-title="">
    <h2><i class="glyphicon glyphicon-question-sign"></i> Pertanyaan </h2>

    <div class="box-icon">
        <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
        <a href="#" class="btn btn-minimize btn-round btn-default">
            <i class="glyphicon glyphicon-chevron-up"></i>
        </a>
        <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
</div>
<div class="box-content" style="padding:40px;">
    <div id="Question">
        <p>Bagaimana kondisi ekonomi supermarket saat ini?</p>
        <div class="radio">
            <label><input type="radio" checked="checked" name="optradio" onclick="document.getElementById('link').setAttribute('href', 'Consultation/CalculateResult?option=Baik')">Baik</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio" onclick="document.getElementById('link').setAttribute('href', 'Consultation/CalculateResult?option=Sedang')">Sedang</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio" onclick="document.getElementById('link').setAttribute('href', 'Consultation/CalculateResult?option=Buruk')">Buruk</label>
        </div>
        <br />
        <br />
        <br />
    </div>
    <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-3">
            <div class="btn btn-primary btn-lg">
                <i class="glyphicon glyphicon-chevron-left glyphicon-white"></i>
                @Ajax.ActionLink("Sebelumnya", "Pertanyaan4", null, optionsGet, htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn btn-primary btn-lg">
                @Ajax.ActionLink("Selanjutnya", "CalculateResult", new { option = "Baik" }, optionsPost, htmlAttributes: new { @class = "btn btn-primary", @Id = "link" })
            </div>
        </div>
    </div>
</div>
