@{
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "post",
        UpdateTargetId = "QuestionBox",
        InsertionMode = InsertionMode.Replace
    };
}

<div class="box-header well" data-original-title="">
    <h2><i class="glyphicon glyphicon-question-sign"></i> Pertanyaan </h2>

    <div class="box-icon">
        <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
        <a href="#" class="btn btn-minimize btn-round btn-default">
            <i class="glyphicon glyphicon-chevron-up"></i>
        </a>
        <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
</div>
<div class="box-content" style="padding:40px;">
    <div id="Question">
        <p>Apakah event paling dekat (dalam waktu 2-3 minggu kedepan)?</p>
        <div class="radio">
            <label><input type="radio" name="optradio">bulan puasa</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio">lebaran</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio">idul adha</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio">natal</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio">liburan</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio">no event</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-3">
            <div class="btn btn-primary btn-lg">
                <i class="glyphicon glyphicon-chevron-left glyphicon-white"></i>
                @Ajax.ActionLink("Pertanyaan Sebelumnya", "Pertanyaan3", null, options, htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn btn-primary btn-lg">
                @Ajax.ActionLink("          Selanjutnya", "ShowResultConsultationYes", null, options, htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}




