@{
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "post",
        UpdateTargetId = "QuestionBox",
        InsertionMode = InsertionMode.Replace
    };
}

<div class="box-header well" data-original-title="">
    <h2><i class="glyphicon glyphicon-question-sign"></i> Rekomendasi </h2>

    <div class="box-icon">
        <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
        <a href="#" class="btn btn-minimize btn-round btn-default">
            <i class="glyphicon glyphicon-chevron-up"></i>
        </a>
        <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
</div>
<div class="box-content alert" style="padding:20px;">

    <div class="row" style="margin-left:-20px">
        <div class="col-md-11">
            <div class="alert alert-danger">
                <strong>Barang belum saatnya disuplai.</strong>
            </div>
        </div>
        <div class="col-md-1">
            @Ajax.ActionLink("Alasan", "NoLink", null, options, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    </div>
    <strong>Alasan</strong><br />
    Jika kondisi ekonomi baik<br>
    <span style="padding-left:2em">Padding of 2em</span><br>
    <span style="padding-left:3em">Padding of 3em</span><br>
    <span style="padding-left:4em">Padding of 4em</span>
</div>
